<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Server=DLT2713XP1VM\SQLEXPRESS;Database=Contact;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ContactEntities" connectionString="metadata=res://*/Contact.csdl|res://*/Contact.ssdl|res://*/Contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLT2713XP1VM\SQLEXPRESS;initial catalog=Contact;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <Logging Threshold="ALL" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Contact.Messages" Endpoint="Contact" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <log4net debug="false">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="output.log" />
      <appendToFile value="true" />
      <rollingStyle value="Once" />
      <maximumFileSize value="100KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>