<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDatabase"
        connectionString="Server=DLT2713XP1VM\SQLEXPRESS;Database=Contact;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="ContactEntities" connectionString="metadata=res://*/Contact.csdl|res://*/Contact.ssdl|res://*/Contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLT2713XP1VM\SQLEXPRESS;initial catalog=Contact;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>