<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDatabase"
        connectionString="Server=DLT2713XP1VM\SQLEXPRESS;Database=Contact;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>