<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EventStorePersistenceFactory" type="Core.Configuration.EventPersistenceFactoryConfiguration,Core"/>
  </configSections>
  <appSettings>
    <add key="MongoEventStoreConnectionString" value="mongodb://10.6.111.6"/>
    <add key="MongoEventStoreDatabaseName" value="integrationtests"/>
  </appSettings>
  <EventStorePersistenceFactory type="Contact.Infrastructure.Mongo.MongoContactEventPersistenceFactory, Contact" />
</configuration>