<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Server=localhost;Database=Contact;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TestDriverImplementation" value="Contact.WebApi.AcceptanceTests.Drivers.Sql, Contact.WebApi.AcceptanceTests"/>
  </appSettings>
</configuration>