<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <MsmqTransportConfig
  NumberOfWorkerThreads="64"
  MaxRetries="5" />
  <UnicastBusConfig ForwardReceivedMessagesTo="AuditQueue">
    <MessageEndpointMappings>
      <add Messages="Contact.Messages.Commands.ApproveAccLead, Contact.Messages" Endpoint="Contact.Commands.ApproveAccLead" />
      <add Messages="Contact.Messages.Commands.CreateAccommodationLead, Contact.Messages" Endpoint="Contact.Commands.CreateAccommodationLead" />
      <add Messages="Contact.Messages.Commands.CreateAccSupplier, Contact.Messages" Endpoint="Contact.Commands.CreateAccSupplier" />
      <add Messages="Contact.Messages.Commands.CreateAuthenticationWithGeneratedPassword, Contact.Messages" Endpoint="Contact.Commands.CreateAuthenticationWithGeneratedPassword" />
      <add Messages="Contact.Messages.Commands.CreateUser, Contact.Messages" Endpoint="Contact.Commands.CreateUser" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>