<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EventStorePersistenceFactory" type="Core.Configuration.EventPersistenceFactoryConfiguration,Core"/>
  </configSections>
  <appSettings>
    <add key="MongoEventStoreConnectionString" value="mongodb://127.0.0.1"/>
    <add key="MongoEventStoreDatabaseName" value="integrationtests"/>
  </appSettings>
  <EventStorePersistenceFactory type="Contact.Infrastructure.Mongo.MongoContactEventPersistenceFactory, Contact" />
  <connectionStrings>
    <add name="TestDatabase"
        connectionString="Server=localhost;Database=EventStore;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>