<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Server=localhost;Database=Contact;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ContactEntities" connectionString="metadata=res://*/Contact.csdl|res://*/Contact.ssdl|res://*/Contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Contact;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MongoEventStoreConnectionString" value="mongodb://127.0.0.1"/>
    <add key="MongoEventStoreDatabaseName" value="query"/>
  </appSettings>
  <Logging Threshold="INFO" />
  <MsmqTransportConfig
   NumberOfWorkerThreads="64"
   MaxRetries="5" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Contact.Messages.Events.AccommodationLeadApproved, Contact.Messages" Endpoint="Contact.Commands.ApproveAccLead" />
      <add Messages="Contact.Messages.Events.AccommodationLeadCreated, Contact.Messages" Endpoint="Contact.Commands.CreateAccommodationLead" />
      <add Messages="Contact.Messages.Events.AccommodationSupplierCreated, Contact.Messages" Endpoint="Contact.Commands.CreateAccSupplier" />
      <add Messages="Contact.Messages.Events.AuthenticationCreated, Contact.Messages" Endpoint="Contact.Commands.CreateAuthenticationWithGeneratedPassword" />
      <add Messages="Contact.Messages.Events.UserCreated, Contact.Messages" Endpoint="Contact.Commands.CreateUser" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <log4net debug="false">
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="" />
      <param name="RemotePort" value="20000" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger [%property{NDC}] - %message" />
      </layout>
    </appender>
    <appender name="UdpBroadcastAppender" type="Infrastructure.Log4Net.UdpBroadcastAppender, Infrastructure.Log4Net">
      <BroadcastAddress value="192.168.1.255" />
      <Port value="20000" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%-5level %logger [%property{NDC}] - %message" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="UdpBroadcastAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>